{% extends 'base_ecommerce.html' %}
{%  load static %}
{%  load humanize %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_responsive.css' %}">
{% endblock style %}
{% block content %}
	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/shop_background.jpg' %}"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">{{ brand_name }}</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_subtitle brands_subtitle">Brands</div>
							<hr>
							<ul class="brands_list">
								{% for brand in brands %}
									<li class="brand"><a href="{% url 'brand' brand.id %}">{{ brand.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
                        <br>
						<div class="sidebar_section">
							<div class="sidebar_title">Categories</div>
							<hr>
							<ul class="sidebar_categories">
								{% for category in categories %}
									<li><a href="{% url 'category' category.id %}"> {{ category.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<!-- Shop Content -->
					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{ product_count }}</span> products found</div>
							<div class="shop_sorting">
								<span>Sort by:</span>
								<ul>
									<li>
										<span class="sorting_text">highest rated<i class="fas fa-chevron-down"></i></span>
										<ul>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
											<li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>price</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

						<div class="product_grid">
							<div class="product_grid_border"></div>
							<!-- Product Item -->
							{% for product in products %}
								<div class="product_item is_new">
									<div class="product_border"></div>
									<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="{{ product.display_picture.url }}" alt=""></div>
									<div class="product_content">
										<div class="product_price"> <a href="{% url 'product' product.id %}" tabindex="0">{{ product.name}}</a> </div>
										<div class="product_name"><div>₦{{ product.selling_price|intcomma }}</div></div>
										<div class="product_name"><div><button class="btn btn-primary btn-sm cart-add" data-qty="1" href="#" data-product="{{ product.id }}" tabindex="0">Add to cart</button></div></div>
									</div>
									<div class="product_fav"><i class="fas fa-heart"></i></div>
									<ul class="product_marks">
										<li class="product_mark product_discount">20</li>
										<li class="product_mark product_new">{{ product.product_type }}</li>
									</ul>
								</div>
							{% empty %}
								<div class="d-flex flex-column justify-content-center align-items-center" style="min-height:300px;">
									<h3 class="text-danger"> No product available in this brand.</h3>
								</div>
							{% endfor %}


						</div>

						<!-- Shop Page Navigation -->

						{% if is_paginated %}
							<div class="shop_page_nav d-flex flex-row">
								{% if page_obj.has_previous %}
									<div class="page_prev d-flex flex-column align-items-center justify-content-center"><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></div>
								{% else %}
									<div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
								{% endif %}
								<ul class="page_nav d-flex flex-row">
									{% for i in paginator.page_range %}
									  {% if page_obj.number == i %}
										<li class="active"><a href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
									  {% else %}
										<li><a href="?page={{ i }}">{{ i }}</a></li>
									  {% endif %}
									{% endfor %}
								</ul>
								{% if page_obj.has_next %}
									<div class="page_next d-flex flex-column align-items-center justify-content-center"><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a></div>
								{% else %}
									<div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
								{% endif %}
							</div>
						{% endif %}

					</div>

				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- Newsletter -->

{% endblock content %}